<!DOCTYPE html>
<!-- saved from url=(0069)http://3.bytetone.cn:8765/index.php?c=Transcript&a=index&stu_id=10292 -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <%= stylesheet_link_tag "bootstrap.min", :media => 'all' %>
    <%= stylesheet_link_tag "oa", :media => 'all' %>
    <style>
        .table_wrap{width:1200px;margin: 10px auto}
        .jx_table{border-collapse:collapse;border-spacing:0;margin-bottom: 20px}
        .jx_table th,.jx_table td{text-align: center;border:1px solid #e7eaec;padding:4px;min-height: 40px;}
        .jx_table th{background-color: #f5f5f5;}
        .jx_table td{background-color: #fff;}
        .row{margin-bottom: 20px;}
    </style>
</head>
<body>
  <%= yield %>
</body>
</html>
